input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    background: rgb(252, 241, 225);
    height: calc(100vh);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.fav{
    margin-top: 20px;
    width: 100%;
}

form {
    border: 2px solid rgb(63, 21, 21);
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

form h1 {
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
}
form h1 span {
    cursor: pointer;
    text-decoration: underline;
}

form input,
select {
    font-size: 14px;
    padding: 8px;
    background: transparent;
    border: none;
    outline: none;
    width: 50%;
    margin: auto;
    border-bottom: 2px solid rgb(63, 21, 21);
    transition: all 0.4s;
}

form select {
    width: 52%
}

form input:focus, form select:focus{
    transform: scale(1.05);
}

form button {
    width: 35%;
    margin: auto;
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
    padding: 8px;
    background: transparent;
    border: 2px solid rgb(63, 21, 21);
    transition: all 0.4s;
}

form button:hover {
    background: rgb(63, 21, 21);
    color: rgb(252, 241, 225);
    transform: scale(1.05);
}